In [1]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [3]:
L.remove(10)
print(L)
L.remove(30)
print(L)

[20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]

In [5]:
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [13]:
T=(45,80.9,76,45.4,89,92,58,45)
max(T)
print(T.index(max(T)))

5

In [21]:
y=min(T)
p=T.count(y)
print(p)
min(T)

2

45

In [35]:
A=T[::-1]
print(A)
B=list(T)
print(B)

(45, 58, 92, 89, 45.4, 76, 80.9, 45)
[45, 80.9, 76, 45.4, 89, 92, 58, 45]

In [49]:
n=int(input("Enter Number"))
if( n in T)==True:
    print('present')
else:
    print('not present')

try:
    index1=T.index(n)
    print(index1)
except:
    print("Not found")

Enter Number 32

not present
Not found

In [69]:
import random as r
l=r.sample(range(100,900),100)
print(l)
oddCount=0
evenCount=0
primeCount=0
def isPrime(n):
    
    for i in range(2,n//2+1):
        if n%i==0:
            return 0
        else:
            return 1
for i in l:
    if i%2!=0:
        #print(i)
        oddCount=oddCount+1
    else:
        #print(i)
        evenCount=evenCount+1
        
    if isPrime(i):
        #print(i)
        primeCount=primeCount+1
print(oddCount)
print(evenCount)
print(primeCount)

[201, 170, 636, 773, 682, 664, 391, 247, 353, 317, 404, 684, 106, 295, 277, 738, 237, 779, 631, 282, 712, 262, 753, 245, 484, 382, 108, 638, 238, 127, 322, 435, 718, 513, 132, 482, 877, 138, 188, 596, 822, 881, 365, 486, 421, 256, 171, 676, 243, 854, 769, 105, 163, 278, 850, 616, 629, 302, 699, 655, 879, 740, 538, 589, 160, 173, 520, 123, 491, 250, 372, 817, 189, 101, 772, 100, 732, 432, 338, 393, 321, 336, 285, 485, 637, 489, 585, 762, 266, 510, 335, 531, 810, 459, 648, 440, 827, 892, 780, 395]
48
52
48

In [79]:
A={34,56,78,90}
B={78,45,90,23}
print(A.union(B))
print(A.intersection(B))
print(A.symmetric_difference(B))
print(A.issubset(B))
print(B.issuperset(A))

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False

In [87]:
X=int(input("Enter X:"))
if X in A:
      A.remove(X)
      print(A)
else:
      print("Not present in A")

Enter X: 12

Not present in A

In [99]:
dict={'name':'kelly','age':25,'salary':8000,'city':'new york'}
print(dict['name'])
dict['location']=dict.pop('city')
print(dict)

kelly
{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}