In [1]:
a='bhagat '
b='singh'
c=a+b
print(c)

bhagat singh

In [3]:
a=100
print(str(a))

100

In [5]:
a='Chaudhary'
b=16
c=a+str(b)
print(c)

Chaudhary16

In [7]:
a=10
b=20
c=100
print(a+b+c)

130

In [9]:
a='Chaudhary '
b='Rishipal '
c='Singh '
d=a+b+c
print(d)

Chaudhary Rishipal Singh

In [11]:
a=input("Enter first ")
b=input("Enter second ")
c=a+b
print(c)

Enter first  Priyam
Enter second   Chaudhary

Priyam Chaudhary

In [13]:
a=int(input("Enter first Number "))
b=int(input("Enter second Number "))
c=a+b
print(c)

Enter first Number  23
Enter second Number  43

66

In [15]:
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [27]:
c=list(range(10))
print(c)
print(list(range(10,20)))
print(list(range(2,20,2)))
print(list(range(-10,-20,2)))
print(list(range(-10,-20,-2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[]
[-10, -12, -14, -16, -18]

In [29]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [35]:
for i in range(0,-10,-1):
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [37]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [39]:
s=0
for i in range(1,11):
    s=s+i
print(s)

55

In [41]:
s=sum(range(1,11))
print(s)

55

In [43]:
for i in range(1,11):
    print(i*7)

7
14
21
28
35
42
49
56
63
70

In [45]:
n=int(input("Enter number "))
for i in range(1,11):
    print(n*i);

Enter number  12

12
24
36
48
60
72
84
96
108
120

In [49]:
s=0
n=int(input("Enter number: "))
for i in range(1,n+1):
    s=s+i
print(s)

Enter number:  12

78

In [51]:
a=int(input("Enter number:"))
b=int(input("Enter number:"))
if(a>b):
    print("a is greater")
else:
    print("b is greater")

Enter number: 12
Enter number: 23

b is greater

In [53]:
a=int(input("Enter number:"))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter number: 12

Even

In [59]:
n=int(input("Enter number:"))
f=0
for i in range(2,n//2+1):
    if n%2==0:
        f=1
        break
if f==0:
    print("Prime")
else:
    print("Not a Prime")

Enter number: 12

Not a Prime

In [61]:
a=input("Enter first: ")
b=input("Enter second: ")
if a==b:
    print("Equal")
elif a>=b:
    print(a," is greater")
else:
    print(b,"is greater")

Enter first:  priyam
Enter second:  chaudhary

priyam  is greater

In [63]:
a=12
b=23
c=1
max(a,b,c)

23

In [65]:
n=int(input("Enter Number : "))
s=0
for i in range(1,n+1):
    if i%7==0 and i%9==0:
        s=s+i
print(s)

Enter Number :  15

0

In [29]:
n=int(input("Enter Number: "))
s=0
for j in range(1,n+1):
    f=0
    for i in range(2,n//2+1):
        if n%i==0:
            f=1
            break
       if f==0:
         s=s+j
print(s)

IndentationError: unindent does not match any outer indentation level (<string>, line 9)

In [1]:
def add(a,b):
    c=a+b
    return c
print(add(10,20))

30

In [16]:
def isPrime(n):
    for i in range(2,n//2+1):
        if n%i==0:
            return 0
    return 1

print(isPrime(10))
print(isPrime(29))

0
1

In [18]:
def addN(n):
    s=sum(range(1,n+1))
    return s
print(addN(10))

55

In [22]:
def addOdd(n):
    s=0;
    for i in range(1,n+1):
        if i%2!=0:
            s=s+i
    return s
n=int(input("Enter number "))    
print(addOdd(n))

Enter number  10

25

In [36]:
def isPrime(n):
    for i in range(2,n//2+1):
        if n%i==0:
            return 0
    return 1
def addPrime(a):
    s=0
    for i in range(2,a+1):
        if isPrime(i):
            s=s+i
    return s          
n=int(input("Enter number "))
print(addPrime(n))

Enter number  10

17

In [48]:
import math as m
print(m.log(100,10))
print(m.sin(30))
print(m.cos(60))
print(m.sqrt(256))
print(m.ceil(14.99))
print(m.floor(15.88))

2.0
-0.9880316240928618
-0.9524129804151563
16.0
15
15

In [74]:
var='Hello World'
print(var[0])
print(var[1:5])
print(var[1:7])
print(var[:-5])
print(var[:-7])
print(var[:-10])
print(len(var))
print(var.upper())
print(var.lower())
print(var.count('H'))
print(var[::-1])

H
ello
ello W
Hello
Hell
H
11
HELLO WORLD
hello world
1
dlroW olleH

In [68]:
name=input("Enter your name:")
age=int(input("Enter age:"))
price=float(input("Enter book price:"))
s="Your name is %s,Your age is %d,Book price is %f"%(name.upper(),age,price)
print(s)

Enter your name: priyam
Enter age: 21
Enter book price: 1234

Your name is PRIYAM,Your age is 21,Book price is 1234.000000

In [78]:
s1='Indian Army'
s2='madam'
print(s1==s1[::-1])
print(s2==s2[::-1])

False
True

In [94]:
import random as r
print(r.random())
print(r.random())
print(round(r.random(),4))
print(r.randint(1,100))
print(r.uniform(1,100))
print(r.uniform(-10,-2))
print(round(r.uniform(2,70),2))

0.19630533168315645
0.4928697951841575
0.0257
96
61.69962095519733
-7.983913781299697
39.58

In [98]:
import random as r
A=[1,2,3,4,5]
print(r.sample(A,2))
print(r.sample(range(1,10),2))

[2, 4]
[7, 6]

In [100]:
import string as r
import random as r
print(s.ascii_letters)
print(r.sample(s.ascii_letters,6))

AttributeError: 'str' object has no attribute 'ascii_letters'

In [1]:
for i in range(-2,6):
    try:
        print(100/i)
    except:
        print("Error")

-50.0
-100.0
Error
100.0
50.0
33.333333333333336
25.0
20.0

In [5]:
n=int(input("Enter number:"))
try:
    print(100/n)
except:
    print('error')

Enter number: 0

error

In [9]:
L=[1,2,3,4,5,6]
for i in range(8):
    try:
        print(L[i])
    except:
        print('error')

1
2
3
4
5
6
error
error

In [13]:
L=['Priyam','chaudhary',10,6,2005]
print(L)
print(len(L))

['Priyam', 'chaudhary', 10, 6, 2005]
5

In [15]:
for i in L:
    print(i)

Priyam
chaudhary
10
6
2005

In [23]:
L.append('hello')
print(L)
del L[1]
print(L)

['Priyam', 10, 6, 2005, 'hello', 'hello', 'hello', 'hello']
['Priyam', 6, 2005, 'hello', 'hello', 'hello', 'hello']

In [35]:
lis=[1,3,4,2,5,6]
print(sum(lis))
print(sum(list)/len(lis))
print(sum(list)//len(lis))
print(min(lis))
print(max(lis))
lis.sort()
print(lis)
lis.sort(reverse=True)
print(lis)

21
3.5
3
1
6
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [37]:
l1=[1,2,3,4]
l2=[7,8,9]
l3=l1+l2
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4]
[7, 8, 9]
[1, 2, 3, 4, 7, 8, 9]

In [39]:
newl3=[ i*5 for i in l3]
print(newl3)

[5, 10, 15, 20, 35, 40, 45]

In [43]:
if(6 in l3)==True:
    print("Present")
else:
    print("Not present")

if(4 in l3)==False:
    print("Not present")
else:
    print("Present")

Not present
Present

In [45]:
Home={'priyam':'bijnor','saksham':'meerut','anshika':'ganganagar'}
print(Home['priyam'])

bijnor

In [47]:
for d in Home:
    print(Home[d])

bijnor
meerut
ganganagar

In [49]:
T=('priyam',1,4,7)
print(T)
print(len(T))
print(type(T))

('priyam', 1, 4, 7)
4
<class 'tuple'>

In [65]:
i=0
while i<len(T):
    print(T[i])
    i=i+1

priyam
1
4
7

In [71]:
for i in range(0,len(T)):
    print(T[i])

priyam
1
4
7

In [73]:
for i in T:
    print(i)

priyam
1
4
7

In [81]:
T=(1,2,3,4,5)
print(sum(T))
print(sum(T)/len(T))
print(T)
print(6 in T)

15
3.0
(1, 2, 3, 4, 5)
False

In [87]:
T=(1,2,3,4,5)
print(T)
t1=list(T)
t1.append(23)
T=tuple(t1)
print(T)

(1, 2, 3, 4, 5)

TypeError: 'list' object is not callable

In [89]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
T1.insert(2, "Rahul")
T = tuple(T1)

print ("After Insert -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)

TypeError: 'list' object is not callable

In [107]:
a={1,2,3,4,5,2}
b={1,2,7,6,9}
   
print(s)
print(len(s))
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5}
5
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2}
{3, 4, 5}
{3, 4, 5, 6, 7, 9}

In [117]:
(a.add("D"))
print(a)
# a.remove(3)
# print(a)
a.pop()
print(a)

{1, 2, 4, 5, 'D'}
{2, 4, 5, 'D'}

In [121]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]